<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-mvc-testing-demo (31):war exploded">
    <output-path>$PROJECT_DIR$/../target/spring-boot-mvc-testing-demo-1.0.0</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-boot-mvc-testing-demo (31)</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-mvc-testing-demo (31)" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/../target/spring-boot-mvc-testing-demo-1.0.0/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-mvc-testing-demo (31)/web/Web" />
    </root>
  </artifact>
</component>