<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-mvc-testing-demo (20):war">
    <output-path>$PROJECT_DIR$/../target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring-boot-mvc-testing-demo (20)</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring-boot-mvc-testing-demo-1.0.0.war">
      <element id="artifact" artifact-name="spring-boot-mvc-testing-demo (20):war exploded" />
    </root>
  </artifact>
</component>